<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mercado Liebre</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<script
		src="https://kit.fontawesome.com/e3720ac348.js"
		crossorigin="anonymous"
	></script>
	<body>
		<header>
			<div class="header-middle">
				<img
					src="/images/logo-mercado-liebre.svg"
					alt="Logo de Mercado Liebre"
				/>
				<div class="search">
					<input type="text" placeholder="Buscar productos, marcas" />
					<button title="Buscar">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
				<p>
					<i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
					tarjeta de crédito
				</p>
			</div>
			<nav>
				<ul>
					<li><a href="#">Ofertas</a></li>
					<li><a href="#">Tiendas Oficiales</a></li>
					<li><a href="#">Vender</a></li>
					<li><a href="#">Ayuda</a></li>
				</ul>
				<ul>
					<li>
						<a href="/register">Creá tu cuenta</a
						><i class="fa-solid fa-address-card"></i>
					</li>
					<li>
						<a href="/login">Ingresá</a
						><i class="fa-solid fa-right-to-bracket"></i>
					</li>
					<li>
						<a href="#">Mis compras</a>
						<i class="fa-solid fa-basket-shopping"></i>
					</li>
				</ul>
			</nav>
			<div class="burger-menu">
				<i class="fas fa-bars"></i>
			</div>
		</header>
		<main>
			<form class="loginRegisterForm">
				<h1>Registro de Usuario</h1>
				<input
					type="text"
					id="nombreApellido"
					name="nombreApellido"
					required
					placeholder="Nombre y apellido"
					title="Ingresa solo letras y espacios. Ejemplo: Juan Pérez"
				/>

				<input
					type="text"
					id="username"
					name="username"
					required
					placeholder="Nombre de usuario"
					title="Ingresa solo letras y números."
				/>

				<label for="fechaNacimiento">Fecha de nacimiento:</label>
				<input
					type="date"
					id="fechaNacimiento"
					name="fechaNacimiento"
					required
				/>
				<input
					type="text"
					id="domicilio"
					name="domicilio"
					required
					placeholder="Domicilio"
				/>

				<label for="perfilUsuario">Perfil del usuario:</label>
				<select id="perfilUsuario" name="perfilUsuario" required>
					<option value="" disabled selected>Selecciona una opción</option>
					<option value="comprador">Comprador</option>
					<option value="vendedor">Vendedor</option>
				</select>

				<div class="labelInterest">
					<label>Intereses:</label>
					<div>
						<input
							type="checkbox"
							id="electro"
							name="categoriasInteres"
							value="Electro"
						/>
						<label for="electro">Electro</label>
					</div>
					<div>
						<input
							type="checkbox"
							id="moda"
							name="categoriasInteres"
							value="Moda"
						/>
						<label for="moda">Moda</label>
					</div>
					<div>
						<input
							type="checkbox"
							id="hogar"
							name="categoriasInteres"
							value="Hogar"
						/>
						<label for="hogar">Hogar</label>
					</div>
					<div>
						<input
							type="checkbox"
							id="jugueteria"
							name="categoriasInteres"
							value="Juguetería"
						/>
						<label for="jugueteria">Juguetería</label>
					</div>
					<div>
						<input
							type="checkbox"
							id="vidaSana"
							name="categoriasInteres"
							value="Vida sana"
						/>
						<label for="vidaSana">Vida sana</label>
					</div>
				</div>
				<div>
					<label for="fotoUsuario">Foto de usuario:</label>
					<input
						type="file"
						id="fotoUsuario"
						name="fotoUsuario"
						accept="image/*"
					/>
				</div>
				<input
					type="password"
					id="password"
					name="password"
					required
					minlength="6"
					placeholder="Contraseña"
				/>

				<input
					type="password"
					id="confirmPassword"
					name="confirmPassword"
					required
					minlength="6"
					placeholder="Confirmar contraseña"
				/>
				<form action="/">
					<div class="loginRegister">
						<button type="submit" formaction="/">Registrarse</button>
						<button type="reset">Borrar Datos</button>
					</div>
				</form>
			</form>
		</main>
		<footer class="footerContent">
			<div class="footerCards">
				<div class="cardStore">
					<i class="fa-solid fa-credit-card"></i>
					<h3>Pagá con tarjeta o en efectivo</h3>
					<p>
						Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
						efectivo en puntos de pago. ¡Y siempre es seguro!
					</p>
				</div>
				<div class="cardStore">
					<i class="fa-solid fa-gift"></i>
					<h3>Envío gratis desde $ 2.500</h3>
					<p>
						Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
						miles de productos. Es un beneficio de Mercado Puntos.
					</p>
				</div>
				<div class="cardStore">
					<i class="fa-solid fa-user-shield"></i>
					<h3>Seguridad, de principio a fin</h3>
					<p>
						¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
						puedas hacer, porque estás siempre protegid@.
					</p>
				</div>
			</div>
			<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
		</footer>
	</body>
</html>
