header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Amarillo);
	padding: 12px 0;
	text-align: center;
	gap: 17px;
	flex-wrap: wrap;
}

.header-middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	gap: 15px;
}

.header-middle img {
	width: 40%;
}

.search {
	position: relative;
	top: 0;
	display: flex;
	align-items: center;
}

.search > input {
	border: none;
	padding: 6.5px;
	border-radius: 7px;
}

.search > button {
	color: black;
	display: block;
	padding: 0;
	position: absolute;
	right: 0;
	border: none;
	background-color: white;
	padding-right: 5px;
}

header div p {
	text-align: center;
}

header div button {
	display: inline-block;
}

header nav {
	display: none;
}

header nav ul {
	list-style-type: none;
	padding: 0;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

.burger-menu {
	text-align: center;
	color: white;
	padding: 8px;
	border-radius: 20%;
	background-color: var(--Celeste);
}

main section {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main h2 {
	padding: 12px 0;
	text-align: center;
}

main section article {
	background-color: white;
	line-height: 15px;
	margin-top: 10px;
	flex-basis: 100%;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section article div {
	width: 100%;
	gap: 15px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ebebeb;
	padding-left: 15px;
	position: relative;
	padding: 10px;
}

main section article div ul {
	display: flex;
	gap: 5px;
	list-style: none;
	padding: 0;
}

main section article div ul li span {
	color: #4cbb17;
}

main section article div p {
	color: gray;
}

main section article div i {
	font-size: 16px;
	padding: 5px;
	width: 30px;
	height: 30px;
	color: #39b54a;
	border: 1px solid #39b54a;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: -15px;
}

main img {
	width: 100%;
}

main section article img {
	width: 75%;
}

footer {
	margin-top: 10px;
	padding: 20px;
	background-color: white;
	color: var(--Grisoscuro);
}

footer div {
	text-align: center;
}

footer div h3 {
	margin: 10px 0 0;
}

footer div p {
	margin: 0 0 45px;
}

footer div i {
	color: var(--Celeste);
	font-size: 2em;
}

@media (min-width: 415px) {
	.header-middle {
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.header-middle > img {
		width: 25%;
		flex-direction: row;
	}

	header nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 10px;
	}

	header nav ul {
		display: flex;
		gap: 15px;
	}

	.burger-menu {
		display: none;
	}

	main section article {
		flex-basis: 40%;
		box-shadow: 0 0 10px rgb(100, 100, 100);
	}
}

@media (min-width: 769px) {
	main section article {
		flex-basis: 20%;
		box-shadow: 0 0 10px rgb(100, 100, 100);
	}
}
